
{% extends "dwp-layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import "includes/templates/header/macro.html" as header%}

{% block head %}
  {% include "includes/head.html" %}
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  Home – Prepare an appeal response
{% endblock %}

{% block header %}
{{header.header(serviceName,'Jane Doe')}}
{% endblock %}

{% block beforeContent %}
  {{govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  })}}
  {% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form novalidation method="post">
        
        {{ govukRadios({
          name: "[timeline][provisiontype]",
          fieldset: {
            legend: {
              text: "Which Schedule 8 'treated as' provisions were met?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.timeline.provisiontype,
          items: [
            {
              value: "Paragraph 1,2,3,5,6",
              text: "Paragraph 1,2,3,5,6"
            },
            {
              value: "Paragraph 4 (risk to self and others)",
              text: "Paragraph 4 (risk to self and others)"
            },

            {
              value: "Both",
              text: "Both"
            }
          ]
        }) }}
        
        
        
          
        <!-- LINK NOT BUTTON WHEN NO DATA NEEDS TO BE SENT-->
        
        <div class="govuk-button-group">
          <a class="govuk-button" id="addButton" href="./activities-considered">
            Continue
          </a>
        </div>
        </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">

</script>
{% endblock %}
